@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 200vh;
    overflow-x:hidden ;
}
h1 {
    background-color: red;
}
span {
    background: #000;
    color: white;
}
#div {
    background-color: #ccc;
}
ul {
    padding: 20px;
}
.parent
{
    position: relative;
     background-color: pink;
    padding: 5px 10px 15px 20px;
    z-index: 100;
}
.box 
{
   /* position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 20px solid green;
    /* margin: 20px; */
    padding: 20px;
    text-align: center;
    z-index: -1;
    transition: all 0.25s ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
}
.box:hover {
    background-color: green;
    border-color: red;
    /* transform: scale(1.05); */
}
.heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: line-through;
}
section p {
    color: purple;
}
